.cardborder{
    border: 2px, solid, grey;
    width: 50%;
}

.bg{
    padding: 20px;
     display: flex;
     justify-content: center;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(#af7ac5, #85c1e9);

}

.head{
  font-size: 30px;
  background: -webkit-linear-gradient(#154360, #85c1e9, #1b4f72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.btnnn{
margin-top: 10px;
margin-left: 75%;
background-image: linear-gradient(#154360, #85c1e9, #1b4f72);

}